<a href="https://colab.research.google.com/github/FarzanaAdiba/ML_Assignment1/blob/main/Assignment1P2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# Making the imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (12.0, 9.0)

In [3]:
from google.colab import drive
drive.mount('/content/drive/')
#xtrain = np.load('x_train.npy')

Mounted at /content/drive/

In [4]:
df =pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ML_Assignments/Assignment1_Q2_Data.csv')
df.head(10)

,House ID,Local Price,Bathrooms,Land Area,Living area,# Garages,# Rooms,# Bedrooms,Age of home,Construction type,Architecture type,# Fire places,Price (1000$)
0,1,4.9176,1.0,3.472,0.998,1.0,7,4,42,3,1,0,25.9
1,2,5.0208,1.0,3.531,1.500,2.0,7,4,62,1,1,0,29.5
2,3,4.5429,1.0,2.275,1.175,1.0,6,3,40,2,1,0,27.9
3,4,4.5573,1.0,4.050,1.232,1.0,6,3,54,4,1,0,25.9
4,5,5.0597,1.0,4.455,1.121,1.0,6,3,42,3,1,0,29.9
5,6,3.8910,1.0,4.455,0.988,1.0,6,3,56,2,1,0,29.9
6,7,5.8980,1.0,5.850,1.240,1.0,7,3,51,2,1,1,30.9
7,8,5.6039,1.0,9.520,1.501,0.0,6,3,32,1,1,0,28.9
8,9,16.4202,2.5,9.800,3.420,2.0,10,5,42,2,1,1,84.9
9,10,14.4598,2.5,12.800,3.000,2.0,9,5,14,4,1,1,82.9

In [5]:
df.shape

(28, 13)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   House ID           28 non-null     int64
 1   Local Price        28 non-null     float64
 2   Bathrooms          28 non-null     float64
 3   Land Area          28 non-null     float64
 4   Living area        28 non-null     float64
 5   # Garages          28 non-null     float64
 6   # Rooms            28 non-null     int64
 7   # Bedrooms         28 non-null     int64
 8   Age of home        28 non-null     int64
 9   Construction type  28 non-null     int64
 10  Architecture type  28 non-null     int64
 11  # Fire places      28 non-null     int64
 12  Price (1000$)      28 non-null     float64
dtypes: float64(6), int64(7)
memory usage: 3.0 KB

In [7]:
df.columns

Index(['House ID', 'Local Price', 'Bathrooms', 'Land Area', 'Living area',
       '# Garages', '# Rooms', '# Bedrooms', 'Age of home',
       'Construction type', 'Architecture type', '# Fire places',
       'Price (1000$)'],
      dtype='object')

In [21]:
trainDF=df[0:18]
xtrain=trainDF.iloc[:,0:12].values
ytrain=trainDF.iloc[:,-1].values

In [22]:
testDF=df[18:]
xtest=testDF.iloc[:,0:12].values
ytest=testDF.iloc[:,-1].values

In [23]:
#Adding bias as one
x1=np.array(xtrain)
# Creating a column of ones that will be used as a bias
one=np.ones(18)
onet= np.ones(10)   
one=np.array(one).reshape(18,1)
one_test=np.array(onet).reshape(10,1)
# Adding column 'one' as a bias
x1=np.append(x1,one,axis=1)   
x2 = np.append(xtest,one_test,axis=1)

In [29]:
#Taking the eqn for the train and test data

x1_t=x1.transpose()    
x1_t_x1 = np.dot(x1_t, x1)
x1_t_x1_inv=np.linalg.inv(x1_t_x1) #taking inverse
yn=np.array(ytrain).reshape(18,1)
y_t=np.array(ytest).reshape(10,1)
x1_t_y1=np.dot(x1_t, yn)
#calculating beta value
beta=np.dot(x1_t_x1_inv, x1_t_y1)
y_pred = x1.dot(beta)
y_predt=x2.dot(beta)

In [36]:
a,b=x1.shape
a

18

# 2.1 Ans: The Least Avg square error has been given below:

In [38]:
#Finding the error value using Avg Least square error
print(x1.shape)
err_train=(((y_pred-yn)**2).sum())/(2*(a)) 
err_test=(((y_predt-y_t)**2).sum())/(2*(a)) 
print("Average Least Squared Error for train set",err_train)
print("Average Least Squared Error for test data",err_test)

(18, 13)
Average Least Squared Error for train set 1.110161556226631
Average Least Squared Error for test data 20.426374366311595

In [39]:
#Now finding the coefficient to see which feature has the most and the least importance
beta

array([[-0.29373004],
       [ 2.02475677],
       [23.71558185],
       [ 0.31481907],
       [ 2.78929525],
       [ 2.39725911],
       [-6.06207669],
       [ 3.08638641],
       [ 0.02472895],
       [-1.0100057 ],
       [-0.38377102],
       [ 4.81810033],
       [18.57680181]])

# 2.2 Ans: The most effect on the final value

From the value of beta which are actually the coefficients value we can determine that the value of 3rd column "Bathrooms" has the highest coefficient and using only this feature if we implement the above equation then

In [44]:
x1=np.array(xtrain[:,2]).reshape(18,1)
# Creating a column of ones that will be used as a bias
one=np.ones(18)
onet= np.ones(10)   
one=np.array(one).reshape(18,1)
one_test=np.array(onet).reshape(10,1)
x1=np.append(x1,one,axis=1)    # Adding column 'one' as a bias
x2=np.array(xtest[:,2]).reshape(10,1)
x2 = np.append(x2,one_test,axis=1)

In [45]:
#Taking the eqn for the train and test data
x1_t=x1.transpose()    
x1_t_x1 = np.dot(x1_t, x1)
x1_t_x1_inv=np.linalg.inv(x1_t_x1) #taking inverse
yn=np.array(ytrain).reshape(18,1)
y_t=np.array(ytest).reshape(10,1)
x1_t_y1=np.dot(x1_t, yn)
#calculating beta value
beta=np.dot(x1_t_x1_inv, x1_t_y1)
y_pred = x1.dot(beta)
y_predt=x2.dot(beta)

In [46]:
#Finding the error value using Avg Least square error
print(x1.shape)
err_train=(((y_pred-yn)**2).sum())/(2*(a)) 
err_test=(((y_predt-y_t)**2).sum())/(2*(a)) 
print("Average Least Squared Error for train set",err_train)
print("Average Least Squared Error for test data",err_test)

(18, 2)
Average Least Squared Error for train set 5.974496996996999
Average Least Squared Error for test data 17.56430134526426

# 2.3 Ans: The least effect on the final value

From the value of beta which are actually the coefficients value we can determine that the value of 6th column "# Rooms" has the lowest coefficient and using only this feature if we implement the above equation by removing this feature then the changes are showing below:

In [55]:
#Removing column 6
df1 = df.drop(df.columns[[6]], axis=1)

In [57]:
df1.head(5)

,House ID,Local Price,Bathrooms,Land Area,Living area,# Garages,Age of home,Construction type,Architecture type,# Fire places,Price (1000$)
0,1,4.9176,1.0,3.472,0.998,1.0,42,3,1,0,25.9
1,2,5.0208,1.0,3.531,1.500,2.0,62,1,1,0,29.5
2,3,4.5429,1.0,2.275,1.175,1.0,40,2,1,0,27.9
3,4,4.5573,1.0,4.050,1.232,1.0,54,4,1,0,25.9
4,5,5.0597,1.0,4.455,1.121,1.0,42,3,1,0,29.9

In [58]:
df1.shape

(28, 11)

In [59]:
trainDF1=df1[0:18]
xtrain1=trainDF1.iloc[:,0:11].values
ytrain1=trainDF1.iloc[:,-1].values

In [60]:
testDF1=df1[18:]
xtest1=testDF1.iloc[:,0:11].values
ytest1=testDF1.iloc[:,-1].values

In [61]:
#Adding bias as one
x1=np.array(xtrain1)
# Creating a column of ones that will be used as a bias
one=np.ones(18)
onet= np.ones(10)   
one=np.array(one).reshape(18,1)
one_test=np.array(onet).reshape(10,1)
# Adding column 'one' as a bias
x1=np.append(x1,one,axis=1)   
x2 = np.append(xtest1,one_test,axis=1)

In [62]:
#Taking the eqn for the train and test data
x1_t=x1.transpose()    
x1_t_x1 = np.dot(x1_t, x1)
x1_t_x1_inv=np.linalg.inv(x1_t_x1) #taking inverse
yn=np.array(ytrain1).reshape(18,1)
y_t=np.array(ytest1).reshape(10,1)
x1_t_y1=np.dot(x1_t, yn)
#calculating beta value
beta=np.dot(x1_t_x1_inv, x1_t_y1)
y_pred = x1.dot(beta)
y_predt=x2.dot(beta)

In [63]:
#Finding the error value using Avg Least square error
print(x1.shape)
err_train=(((y_pred-yn)**2).sum())/(2*(a)) 
err_test=(((y_predt-y_t)**2).sum())/(2*(a)) 
print("Average Least Squared Error for train set",err_train)
print("Average Least Squared Error for test data",err_test)

(18, 12)
Average Least Squared Error for train set 8.485069236881653e-24
Average Least Squared Error for test data 1.2000708850718694e-23